div
  table
    thead
      tr: th Usuarios
    tbody
      each user, i in users
        tr
          td 
            a(href='/users/' + user.id) #{user.name}
          td 
            a(href='/users/remove/' + user.id) Eliminar